$screen-width: 40rem;

$dark-green: #0e4f1f;
$plan-green: #19b84c;
$light-green: #2ddf5c;
$pinky: #ff1b68;
$light-red: #ff5454;
$plan-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
$size-default: 1rem;
$size-smaller: 0.5rem;
$plan-top-margin: $size-smaller 0;
