/*@media 300px 769px 1000px*/

@import '_variables.scss';

#product-overview {
   background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent)
         10%,
      url('./images/freedom.jpg') center / cover no-repeat border-box, $pinky;
   /* background-size: cover;
  background-position: left 10% bottom 20%;
  background-repeat: no-repeat; */
   /* background-image: radial-gradient(
     circle at top right,
     yellow 20%,
     lightblue 30%,
     green
  ); */
   width: 100vw;
   height: 33vh;
   position: relative;

   @media (min-width: $screen-width), (min-height: $screen-width) {
      height: 40vh;
      background-position: 50% 25%;
   }
}

#product-overview h1 {
   color: white;
   font-family: 'Anton', sans-serif;
   position: absolute;
   bottom: 5%;
   left: 3%;
   font-size: 1.6rem;

   @media (min-width: $screen-width), (min-height: $screen-width) {
      font-size: 3rem;
   }
}

.section-title {
   color: $light-green;
   text-align: center;
}

.plan {
   background-color: #d5ffdc;
   text-align: center;
   padding: $size-default;
   margin: $plan-top-margin;
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 28rem;

   @media (min-width: $screen-width) {
      width: 30%;
      margin: 0 2px;
      min-width: 13rem;
      max-width: 25rem;
   }
}

.plan--highlited {
   background: $plan-green;
   color: white;
   height: 30rem;

   @media (min-width: $screen-width) {
      box-shadow: $plan-shadow;
   }
}

.plan__annotation {
   background: white;
   color: $plan-green;
   padding: $size-smaller;
   box-shadow: $plan-shadow;
   border-radius: 8px;
}

.plan__title {
   color: $dark-green;
}

.plan__price {
   color: rgb(121, 121, 121);
}

.plan--highlited .plan__title {
   color: white;
}

.plan--highlited .plan__price {
   color: $dark-green;
}

.plan__features {
   list-style: none;
   margin: 0;
   padding: 0;
}

.plan__features li {
   margin: $plan-top-margin;
}

@media (min-width: $screen-width) {
   .plan_list {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

#key-features {
   background: $pinky;
   margin-top: 5rem;
   padding: $size-default;
}

#key-features .section-title {
   color: white;
   margin: 2rem;
}

.key-feature__list {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;

   @media (min-width: $screen-width) {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
}

.key-feature__image {
   background: #ffcede;
   width: 128px;
   height: 128px;
   border: 2px solid #424242;
   border-radius: 50%;
   margin: auto;
   padding: 1.5rem;
}

.key-feature__description {
   font-weight: bold;
   color: white;
   font-size: 1.2rem;
}

@media (min-width: $screen-width) {
   .key-feature {
      width: 30%;
      max-width: 25rem;
   }
}

.modal {
   position: fixed;
   opacity: 0;
   transform: translateY(-3rem);
   transition: opacity 200ms ease-out 0.2s, transform 500ms ease-out;
   z-index: 30;
   top: 20%;
   left: 30%;
   width: 40%;
   background: white;
   padding: $size-default;
   border: 1px solid #ccc;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
   text-align: center;
   margin: 0 0 $size-default 0;
}

.modal__actions {
   text-align: center;
}

.modal__action {
   border: 1px solid $dark-green;
   background: $dark-green;
   text-decoration: none;
   color: white;
   font: inherit;
   padding: $size-smaller $size-default;
   cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
   background: $light-green;
   border-color: $light-green;
}

.modal__action--negative {
   background: red;
   border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
   background: $light-red;
   border-color: $light-red;
}
