@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import '_variables.scss';

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.flex-align-center {
   display: flex;
   align-items: center;
}
.fixed-top-left {
   position: fixed;
   top: 0;
   left: 0;
}
.margin-padding-0 {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

html {
   height: $max-size;
}

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   display: grid;
   grid-template-rows: 3.5rem auto fit-content(8rem);
   grid-template-areas:
      'header'
      'main'
      'footer';
   height: $max-size;
}

main {
   /* min-height: calc(100% - 3.5rem - 8rem); */
   grid-area: main;
}

.backdrop {
   @extend .fixed-top-left;
   display: none;
   opacity: 0;
   transition: opacity 0.2s linear;
   z-index: 15;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
}

.main-header {
   @extend .flex-align-center;
   @extend .fixed-top-left;
   width: $max-size;
   background: #2ddf5c;
   padding: 0.5rem 1rem;
   z-index: 1;
   justify-content: space-between;
   grid-area: header;
}

.toggle-button {
   width: 3rem;
   background: transparent;
   border: none;
   cursor: pointer;
   padding-top: 0;
   padding-bottom: 0;
   vertical-align: middle;

   @media (min-width: $screen-width) {
      display: none;
   }

   &:focus {
      outline: none;
   }
}

.toggle-button__bar {
   width: $max-size;
   height: 0.2rem;
   background: black;
   display: block;
   margin: 0.6rem 0;
}

.main-header__brand {
   color: $dark-green;
   text-decoration: none;
   font-weight: bold;
   height: 2.5rem;
   /* width: 22px; */

   img {
      height: 2.5rem;
      vertical-align: middle;
      /* width: 100%; */
   }
}

.mobile-nav {
   @extend .fixed-top-left;
   transform: translateX(-$max-size);
   z-index: 20;
   background: white;
   width: 80%;
   height: 100vh;
   justify-content: center;
   transition: transform 300ms ease-out;
}

.mobile-nav__items {
   @extend .flex-center;
   /* width: 90%; */
   height: $max-size;
   list-style: none;
   /* margin: 10% auto; */
   padding: 0;
   text-align: center;
   flex-direction: column;
}

.mobile-nav__item {
   margin: 1rem 0;

   a {
      font-size: 1.5rem;
   }
}

.main-nav {
   display: none;

   @media (min-width: $screen-width) {
      display: flex;
   }
}

.main-nav__items {
   @extend .margin-padding-0;
   list-style: none;
   display: flex;
}

.main-nav__item {
   margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
   text-decoration: none;
   color: $dark-green;
   font-weight: bold;
   padding: 0.2rem 0;
}

.main-nav__item a {
   &:hover,
   &:active {
      color: white;
      border-bottom: 5px solid white;
   }
}

.main-nav__item--cta {
   animation: wiggle 400ms 3s 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
   color: white;
   background: $highlight-color;
   padding: 0.5rem 1rem;
   border-radius: 8px;
   &:active,
   &:hover {
      color: $highlight-color;
      background: white;
      border: none;
   }
}

// .main-nav__item--cta a:hover,
// .main-nav__item--cta a:active,
// .mobile-nav__item--cta a:hover,
// .mobile-nav__item--cta a:active {
//    color: $highlight-color;
//    background: white;
//    border: none;
// }

.main-footer {
   background: black;
   padding: 2rem;
   margin-top: 3rem;
   grid-area: footer;
}

.main-footer__links {
   @extend .flex-center;
   @extend .margin-padding-0;
   list-style: none;
   flex-direction: column;

   @media (min-width: $screen-width) {
      flex-direction: row;
   }
}

.main-footer__link {
   margin: 0.5rem 0;

   @media (min-width: $screen-width) {
      margin: 0 1rem;
   }

   a {
      color: white;
      text-decoration: none;

      &:hover,
      &:active {
         color: rgb(122, 122, 122);
      }
   }
}

/* .button {
   background: $dark-green;
   color: white;
   font: inherit;
   border: 1.5px solid $dark-green;
   padding: 8px;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
   border: none;
} */
.button {
   background: $dark-green;
   color: #fff;
   font: inherit;
   border: 1.5px solid $dark-green;
   padding: 0.5rem;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   outline: none;

   &:hover,
   &:active {
      background: white;
      color: $dark-green;
   }
   &:focus {
      outline: none;
   }
}

.open {
   display: block !important;
   opacity: 1 !important;
   transform: translateY(0) !important;
}

@keyframes wiggle {
   0% {
      transform: rotateZ(0);
   }
   50% {
      transform: rotateZ(-10deg);
   }
   100% {
      transform: rotateZ(10deg);
   }
}

@keyframes flip-customer {
   0% {
      transform: rotateY(0) skewX(20deg);
   }
   50% {
      transform: rotateY(160deg) skewX(20deg);
   }
   100% {
      transform: rotateY(360deg) skewX(20deg);
   }
}

@keyframes package-focus {
   0% {
      transform: translateY(0);
   }
   33% {
      transform: translateY(-1.5rem);
   }
   100% {
      transform: translateY(-1rem);
   }
}
