@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$dark-green: #0e4f1f;
$highlight-color: #ff1b68;

* {
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   display: grid;
   grid-template-rows: 3.5rem auto fit-content(8rem);
   grid-template-areas:
      'header'
      'main'
      'footer';
   height: 100%;
}

main {
   /* min-height: calc(100% - 3.5rem - 8rem); */
   grid-area: main;
}

.backdrop {
   position: fixed;
   opacity: 0;
   transition: opacity 0.2s linear;
   z-index: 15;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
}

.main-header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background: #2ddf5c;
   padding: 0.5rem 1rem;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
   grid-area: header;
}

.toggle-button {
   width: 3rem;
   background: transparent;
   border: none;
   cursor: pointer;
   padding-top: 0;
   padding-bottom: 0;
   vertical-align: middle;
}

.toggle-button:focus {
   outline: none;
}

.toggle-button__bar {
   width: 100%;
   height: 0.2rem;
   background: black;
   display: block;
   margin: 0.6rem 0;
}

.main-header__brand {
   color: $dark-green;
   text-decoration: none;
   font-weight: bold;
   height: 2.5rem;
   /* width: 22px; */
}

.main-header__brand img {
   height: 2.5rem;
   vertical-align: middle;
   /* width: 100%; */
}

.mobile-nav {
   transform: translateX(-100%);
   position: fixed;
   z-index: 20;
   top: 0;
   left: 0;
   background: white;
   width: 80%;
   height: 100vh;
   justify-content: center;
   transition: transform 300ms ease-out;
}

.mobile-nav__items {
   /* width: 90%; */
   height: 100%;
   list-style: none;
   /* margin: 10% auto; */
   padding: 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.mobile-nav__item {
   margin: 1rem 0;
}

.mobile-nav__item a {
   font-size: 1.5rem;
}

.main-nav {
   display: none;
}

.main-nav__items {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

.main-nav__item {
   margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
   text-decoration: none;
   color: $dark-green;
   font-weight: bold;
   padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
   color: white;
   border-bottom: 5px solid white;
}

.main-nav__item--cta {
   animation: wiggle 400ms 3s 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
   color: white;
   background: $highlight-color;
   padding: 0.5rem 1rem;
   border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
   color: $highlight-color;
   background: white;
   border: none;
}

@media (min-width: 40rem) {
   .toggle-button {
      display: none;
   }

   .main-nav {
      display: flex;
   }
}

.main-footer {
   background: black;
   padding: 2rem;
   margin-top: 3rem;
   grid-area: footer;
}

.main-footer__links {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.main-footer__link {
   margin: 0.5rem 0;
}

.main-footer__link a {
   color: white;
   text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
   color: rgb(163, 163, 163);
}

/* .button {
   background: $dark-green;
   color: white;
   font: inherit;
   border: 1.5px solid $dark-green;
   padding: 8px;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
   border: none;
} */
.button {
   background: $dark-green;
   color: #fff;
   font: inherit;
   border: 1.5px solid $dark-green;
   padding: 0.5rem;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   outline: none;
}

.button:hover,
.button:active {
   background: white;
   color: $dark-green;
}

.button:focus {
   outline: none;
}

.open {
   display: block !important;
   opacity: 1 !important;
   transform: translateY(0) !important;
}

@media (min-width: 40rem) {
   .main-footer__links {
      flex-direction: row;
   }

   .main-footer__link {
      margin: 0 1rem;
   }
}

@keyframes wiggle {
   0% {
      transform: rotateZ(0);
   }
   50% {
      transform: rotateZ(-10deg);
   }
   100% {
      transform: rotateZ(10deg);
   }
}

@keyframes flip-customer {
   0% {
      transform: rotateY(0) skewX(20deg);
   }
   50% {
      transform: rotateY(160deg) skewX(20deg);
   }
   100% {
      transform: rotateY(360deg) skewX(20deg);
   }
}

@keyframes package-focus {
   0% {
      transform: translateY(0);
   }
   33% {
      transform: translateY(-1.5rem);
   }
   100% {
      transform: translateY(-1rem);
   }
}
